body.sunrise {
 background: linear-gradient(
  to bottom,
  #002f4b,
  #034672,
  #07528c,
  #335d8d,
  #597090,
  #7f838f,
  #b9a497
 );
}
.star {
 position: absolute;
 top: 0;
 left: 0;
 width: 2px;
 height: 2px;
 background: white;
 border-radius: 50%;
 /* Glow */
 box-shadow: 0 0 3px white, 0 0 5px white;
}
.meteors > div {
 background: white;
 border-radius: 50%;
 /* Glow */
 box-shadow: 0 0 3px white, 0 0 5px white;
 height: 4px;
 position: fixed;
 transition: top 2s linear, left 2s linear,
  opacity 1.5s ease-out;
 width: 4px;
 z-index: 3;
}
.meteors > div::after {
 content: '';
 /* Position next to meteor */
 position: absolute;
 right: 0;
 bottom: 0;
 width: 120px;
 height: 4px;
 background: white;
 transform: scaleY(0.5);
 transform-origin: 0 2px;
 /* Tapered point */
 border-radius: 100% 0 60% 50%;
 /* Fade out */
 opacity: 0.75;
}
.horizon {
 box-sizing: border-box;
 bottom: 0;
 border-bottom: 1vh solid #000;
 height: 2vh;
 left: 0;
 position: absolute;
 right: 0;
 background: linear-gradient(
  to bottom,
  transparent,
  #000000a0
 );
 z-index: 2;
}
.city {
 bottom: 0;
 height: 4vh;
 position: absolute;
 width: 25vw;
}
.building {
 background: linear-gradient(#383020, black);
 bottom: 0;
 display: inline-block;
 height: 7vh;
 position: absolute;
 transform-origin: bottom center;
 width: 2vw;
}
.house {
 background: black;
 bottom: 0;
 height: 2vh;
 position: absolute;
 transform-origin: bottom center;
 width: 2vw;
}
.tree {
 border-bottom: 3vh solid #001008b0;
 border-left: 0.8vh solid transparent;
 border-right: 0.8vh solid transparent;
 bottom: 0;
 height: 0;
 position: absolute;
 transform-origin: bottom center;
 width: 0;
}
.tree::after {
 content: '';
 border-bottom: 3vh solid #001008b0;
 border-left: 0.8vh solid transparent;
 border-right: 0.8vh solid transparent;
 top: 0;
 height: 0;
 position: absolute;
 width: 0;
 transform: translateY(-0.3vh);
}
.tree::before {
 content: '';
 border-bottom: 3vh solid #001008b0;
 border-left: 0.8vh solid transparent;
 border-right: 0.8vh solid transparent;
 top: 0;
 height: 0;
 position: absolute;
 width: 0;
 transform: translateY(-0.5vh);
}
.moon {
 position: absolute;
 width: 10vh;
 height: 10vh;
 border-radius: 50%;
 box-shadow: 0 0 2vh #ffffff60;
 background-color: #d0d0d0;
 transform: rotate(-30deg);
 overflow: hidden;
 z-index: 1;
}
.moon::before,
.moon::after {
 position: absolute;
 box-shadow: inset 1px 1px 1px #00000020,
  1px 1px 1px #00000020;
 border-radius: 50%;
 content: '';
 z-index: 0;
}
.moon::before {
 height: 15%;
 left: 20%;
 top: 15%;
 width: 15%;
}
.moon::after {
 height: 25%;
 left: 10%;
 top: 55%;
 width: 25%;
}
.moon-shade {
 border-radius: 50%;
 box-shadow: inset 0 0 0.5vh #ffffffff;
 display: block;
 height: 100%;
 left: 2vh;
 opacity: 0.75;
 position: relative;
 top: 0;
 width: 85%;
 z-index: 1;
}
.engine-container {
 background-color: #335d8dd0;
 border-radius: 1.5vh;
 box-shadow: 0 0 10vh #00000080;
 color: #ffffffd0;
 left: 50%;
 max-height: 80vh;
 max-width: 94vw;
 min-width: 70vw;
 overflow-x: hidden;
 overflow-y: auto;
 position: fixed;
 text-align: center;
 top: 50%;
 transform: translate(-50%, -50%);
 width: 960px;
 z-index: 5;
}
.engine-container > h2 {
 font-family: serif;
 margin: 0;
 padding: 1.5rem 1.5rem 0;
}
.engine-sections {
 display: flex;
 flex-direction: row;
 flex-shrink: 0;
 flex-wrap: wrap;
 font-family: sans-serif;
 font-size: 16px;
 gap: 1vh;
 justify-content: center;
 overflow: hidden;
 padding: 1.5rem;
}
.engine-sections > a {
 border-radius: 0.5rem;
 box-sizing: border-box;
 color: inherit;
 margin: 0;
 min-height: 38px;
 line-height: 38px;
 padding: 0 1rem;
 text-decoration: none;
 transition: text-shadow 0.5s ease,
  background-color 0.5s ease, filter 0.25s ease;
}
.engine-sections > a.current {
 background-color: #ffffff40;
 box-shadow: inset 0 0 0.5rem #ffffffd0,
  0 0 0.5rem #ffffffd0;
}
*::selection {
 background-color: #00000080;
 color: #ffff80ff;
}
*:focus {
 background-color: #00000080 !important;
 box-shadow: inset 0 0 0.5rem #000000d0,
  0 0 0.5rem #000000d0 !important;
 outline: none;
 filter: invert(1);
 text-shadow: 0 0 5px #000000, 0 0 5px #000000,
  0 0 5px #000000, 0 0 5px #000000;
}
.content {
 box-sizing: border-box;
 flex-grow: 1;
 font-family: sans-serif;
 line-height: 1.65;
 opacity: 1;
 overflow: hidden;
 padding: 0 1.5rem 1.5rem;
 text-align: left;
 transition: opacity 1.5s ease;
 width: 100%;
}
.content:empty {
 opacity: 0;
 padding: 0;
}
.content a {
 border-bottom: 2px solid;
 text-decoration: none;
 color: inherit;
}
.content ul {
 padding-left: 1rem;
}
.content > *:first-child {
 margin-top: 0;
}
.content > *:last-child {
 margin-bottom: 0;
}
.content section {
 background-color: #ffffff30;
 border-radius: 1rem;
 padding: 0.75rem 0.75rem 0.5rem;
 margin: 1rem -0.75rem;
}
.content section > p:first-child {
 margin-top: 0;
}
.content section > p:last-child {
 margin-bottom: 0;
}
.content samp {
 background-color: #ffffff90;
 border-radius: 0.25rem;
 color: #203c5cd0;
 display: inline-block;
 font-family: inherit;
 font-size: inherit;
 font-weight: bold;
 padding: 0.25rem 0.5rem;
}
sup {
 font-size: 65%;
 vertical-align: text-top;
}
li {
 margin: 0.5em 0;
}
a.play-music {
 background-color: #002f4b80;
 box-sizing: border-box;
 color: #ffffff;
 display: inline-block;
 font-family: sans-serif;
 font-size: 28px;
 line-height: 0;
 font-variant: small-caps;
 right: 1rem;
 min-height: 28px;
 opacity: 0.5;
 padding: 1vh 1vh 0;
 position: absolute;
 text-decoration: none;
 text-transform: uppercase;
 top: 1rem;
 transition: 0.5s opacity ease;
 z-index: 6;
}
a.play-music:hover {
 opacity: 1;
}
a.play-stars {
 background-color: #002f4b80;
 box-sizing: border-box;
 color: #ffffff;
 display: inline-block;
 font-family: sans-serif;
 font-size: 28px;
 line-height: 0;
 font-variant: small-caps;
 right: 1rem;
 min-height: 28px;
 opacity: 0.5;
 padding: 1vh 1vh 0;
 position: absolute;
 text-decoration: none;
 text-transform: uppercase;
 bottom: 1rem;
 transition: 0.5s opacity ease;
 z-index: 6;
}
a.play-stars:hover {
 opacity: 1;
}
a.back-to-home {
 background-color: #002f4b80;
 box-sizing: border-box;
 color: #ffffff;
 display: inline-block;
 font-family: sans-serif;
 font-size: 28px;
 line-height: 0;
 font-variant: small-caps;
 left: 1rem;
 min-height: 28px;
 opacity: 0;
 padding: 1vh 1vh 0;
 pointer-events: none;
 position: absolute;
 text-decoration: none;
 text-transform: uppercase;
 top: 1rem;
 transition: 0.5s opacity ease;
}
a.back-to-home::after {
 content: 'home';
 line-height: 14px;
 font-size: 14px;
 vertical-align: 1px;
 padding-left: 3px;
}
a.back-to-home.visible {
 opacity: 1;
 pointer-events: all;
}
.info-text {
 font-size: 14px;
 opacity: 0.5;
 text-align: center;
}
article {
 border-radius: 0.5rem;
 margin-top: 1rem;
}
article.draft {
 background-color: #ffd04040;
 box-shadow: 0 0 2px #ffd04040;
 padding: 0.25rem 0.75rem 0.5rem;
}
article br {
 display: block;
 height: 0;
 margin: 1em;
}
article li {
 margin: 0;
}
article h1 {
 margin: 0 0 0.25rem;
}
article .tags {
 margin-bottom: 0.25rem;
}
article .time {
 font-size: 14px;
 margin: 0;
}
article .tags a {
 background-color: #ffffff80;
 border-radius: 4px;
 color: #102134a0;
 font-size: 14px;
 margin-right: 6px;
 padding: 4px 6px;
}
article .snippet {
 margin: 0.25rem 0 0;
}
.message {
 margin-top: 0;
 text-align: center;
}
article h2,
article h3,
article h4,
article h5,
article h6,
article p,
article ul {
 margin: 0.5rem 0;
}
article img {
 box-shadow: 0 0 1em #00000080;
 margin: 1em 0;
 max-width: 100%;
}
article .copy {
 background-color: #ffffff20;
 border-radius: 0.25em;
 border: 2px solid #ffffff40;
 cursor: pointer;
 filter: grayscale(1);
 float: right;
 margin-top: 0.5em;
 padding: 0.5em;
}
article iframe {
 border: none;
 box-shadow: 0 0 1em #00000080;
 margin: 1em 0;
 width: 100%;
}
.content > details > summary {
 cursor: pointer;
 margin: 0.5em 0;
}
